/** ELEMENTS **/
.dynamic-demo .window { 
	width:10em; 
	height:10em;
	line-height:5em;
	padding:0.5em;
        z-index:3;
}

.subwindow { 
        border: 1px dashed;
	width:5em; 
	height:5em;
	line-height:5em;
	padding:0.25em;	
        z-index:6;
        position:absolute;
}


/** ELEMENT POSITIONS **/
#dynamicWindow1 { top:5em;left:2em; }
#dynamicWindow2 { top:8em; left:43em; }
#dynamicWindow3 { top:28em;left:2em; }
#dynamicWindow4 { top:31em;left:40em; }
#dynamicWindow1_1 { left:2em;top:3em; }

/** JSPLUMB ARTEFACTS **/
._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint { z-index:5; }

